h1 {
  color: blueviolet;
}

main {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

table,
th,
td {
  border: 1px rebeccapurple solid;
}

caption {
  font-size: 20px;
  padding: 10px;
  border: 1px rebeccapurple solid;
}

th,
td {
  padding: 10px;
}

t body {
  /* font grows 1px for every 100px of viewport width */
  font-size: calc(16px + 1vw);
  /* leading grows along with font, */
  /* with an additional 0.1em + 0.5px per 100px of the viewport */
  line-height: calc(1.1em + 0.5vw);
}

/* to constrain the top-end for rapid-growth headings */

@media (min-width: 50em) {
  h1 {
    font-size: 50px;
  }
}

.new-book {
  width: 200px;
  height: 100px;
  border-radius: 5px;
  background-color: blueviolet;
  font-size: 24px;
  color: beige;
}

.new-book:hover {
  background-color: rgb(72, 6, 134);
}

form {
  display: flex;
  column-gap: 20px;
}

.inputs-container div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
}

.add {
  align-self: center;
  background-color: rgb(195, 147, 240);
  height: 50px;
  border-radius: 5px;
}

.read {
  content: "Read";
}
.not-read {
  content: "Haven't read yet"
}